.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #02d48a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-ptiqhd-MuiSvgIcon-root {
  color: #fff;
}
.css-i4bv87-MuiSvgIcon-root {
  color: #fff;
}

.css-13ji48l-MuiPaper-root-MuiAppBar-root {
  background-color: #00000094 !important;
}

.css-1si4z7w-MuiPaper-root {
  background-color: #000000 !important;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
}

.css-12n0uxm-MuiGrid-root {
  margin-top: 0px !important;
  margin-left: 0px !important;
}

footer {
  background-color: gray;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}

.css-zpphrz-MuiTypography-root {
  color: rgb(200, 200, 200) !important;
}

.css-ahj2mt-MuiTypography-root {
  color: rgb(200, 200, 200) !important;
}
